.main_div{
  height: 100vh;
  width: 100%;
  background-color: white;
 display: flex;
 flex-direction: row;
 justify-content: center;

}

.child_div{
  margin-top: 50px;
}

 input{
  height: 30px;
  width: 200px;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 12px;
}

.btn{
   height: 30px;
   width: 80px;
   background-color: rgb(166, 44, 190);
   border: rgb(166, 44, 190);
   border-radius: 20px;
   color: white;
   font-size: 15px;
   margin-top: 10px;
}


table{
  margin-top: 50px;
  border: 2px solid rgb(47, 102, 223);
}

table thead th{
  height: 30px;
  width: 200px;
  background-color: rgb(47, 102, 223);
  color: white;

}

table td{
  background-color: rgb(216, 204, 204);
  height: 30px;
  width: 200px;
  text-align: center;
  color: black;
  font-size: 15px;
}